/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #aed8e8;
  --text-color: hsl(38, 8%, 8%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font1: 'Space Grotesk', sans-serif;
  --body-font2: 'Poppins', sans-serif;
  --biggest-font-size: 2.375rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 5rem;
    --normal-font-size: 1.25rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font1);
  font-size: var(--normal-font-size);
  font-weight: 500;
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.main {
  overflow: hidden; /* For the animations ScrollReveal */
  margin-bottom: 100rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.scroll-header {
  background-color: #fff;
  box-shadow: 0 1px 4px hsl(300, 4%, 15%, .1);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo, 
.nav__toggle {
  color: var(--text-color);
  display: inline-flex;
}

.nav__logo {
  font-weight: 700;
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--first-color);
    left: 0;
    top: -100%;
    width: 100%;
    padding: 5rem 0 4rem;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 0 2px 4px hsla(38, 4%, 15%, .15);
    transition: .4s;
  }
}

.nav__btn {
  display: none;
}

.nav__btn button {
  background-color: var(--text-color);
  color: #fff;
  padding: .80rem 1.5rem;
  border-radius: .5rem;
  transition: .4s;
  font-family: var(--body-font2);
  font-size: large;
}

.nav__btn button:hover {
  box-shadow: 0 4px 12px rgba(0, 81, 105, 0.5);
  background-color: rgb(19, 19, 19);
  color: rgb(211, 211, 211);
}
.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.nav__link {
  color: var(--text-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: 0;
}

/*=============== HOME ===============*/
.home {
  background-color: var(--first-color);
  padding: 0rem 0 2rem;
  height: 100vh;
  display: grid;
}

.home__container {
  display: grid;
  align-content: center;
  row-gap: 2.5rem;
}

.home__data {
  text-align: center;
}
.home__subtitle {
  font-size: 2rem;
}
.home__title {
  font-size: var(--biggest-font-size);
  margin: .75rem 0;
}

.home__button {
  margin-top: 2rem;
  display: inline-block;
  background-color: var(--text-color);
  color: #fff;
  padding: .80rem 1.5rem;
  border-radius: .5rem;
  transition: .4s;
  font-family: var(--body-font2);
}

.home__button:hover {
  box-shadow: 0 4px 12px rgba(0, 81, 105, 0.5);
  background-color: rgb(19, 19, 19);
  color: rgb(211, 211, 211);
}

.home__img img {
  width: 230px;
  animation: floaty 1.8s infinite alternate;
}

.home__img {
  justify-self: center;
}

.home__shadow {
  width: 130px;
  height: 24px;
  background-color: hsla(38, 21%, 19%, .16);
  margin: 0 auto;
  border-radius: 50%;
  filter: blur(7px);
  animation: shadow 1.8s infinite alternate;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .5rem;
  background-color: #acacac;
}

::-webkit-scrollbar-thumb {
  background-color: #d3008d;
  border-radius: 5rem;
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--container-color);
  box-shadow: 0 8px 12px hsla(228, 66%, 45%, .1);
  display: inline-flex;
  padding: .35rem;
  border-radius: .25rem;
  color: var(--title-color);
  font-size: 1.25rem;
  z-index: var(--z-tooltip);
  transition: .3s;
}

.scrollup:hover {
  transform: translateY(-.25rem);
  color: var(--first-color);
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 8rem;
}


/* Animate ghost */
@keyframes floaty {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

@keyframes shadow {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(.85, .85);
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .home {
    padding-top: 7rem;
  }
}

/* For medium devices */
@media screen and (min-width: 767px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__toggle, 
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }
  .nav__btn {
    display:contents;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
  }
  .home__data {
    text-align: initial;
  }
  .home__img img {
    width: 400px;
  }
  .home__shadow {
    width: 250px;
    height: 40px;
  }
}

@media screen and (min-width: 1048px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.7;
  }

  .home {
    height: initial;
    row-gap: 4rem;
  }
}

/* For 4K resolutions (3840 x 2160, 4096 x 2160) */
@media screen and (min-width: 3840px) {
  body {
    zoom: 3.1;
  }
}